{% extends "base.html" %}

{% block title %}
    Available Cars
{% endblock %}

{% block content %}
<div class="car-list">
    <h1>Available Cars</h1>
    <div class="car-container">
        {% for car in object_list %}
            <div class="car-item">
                <img src="{{ car.image.url }}" alt="{{ car.model.name }}" class="car-image">
                <div class="car-info">
                    <h2>{{ car.model.name }} - {{ car.year }}</h2>
                    <p>{{ car.description }}</p>
                    <p class="price">Price: ${{ car.price }}</p>
                    <a href="{% url 'car_detail' car.pk %}" class="details-btn">View Details</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
